.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.exclamation-mark {
  border: 2px solid tomato;
  color: tomato;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  font-weight: 600;
  margin-left: 5px;
}
